.CapitalStatistic {
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: blue;
  cursor: pointer;
}

.withChart {
  padding-top: 45px;
}
