.Button {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #b3e5fc;
  }
}

.outline {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
