.UserMessages {
  position: relative;
}

.unreadIcon,
.defaultIcon,
.openedIcon {
  cursor: pointer;
}

.container {
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: #fff;
  padding: 20px 10px 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.footer {
  border-top: 1px solid grey;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: blue;
    text-decoration: none;

    &:visited {
      color: blue;
    }
  }
}
