.DetailsContainer {
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  /**/
}

.content {
  display: flex;
  height: 100%;
  margin-bottom: 20px;
}

.leftPart {
  // border: 1px solid;
  width: 80%;
  padding: 10px;
  position: relative;
}

.rightPart {
  // border: 1px solid;
  width: 20%;
  padding: 10px;
  position: relative;
}

.price {
  font-size: 30px;
}

.info {
  padding: 10px 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
