.TextLine {
  display: flex;
  gap: 3px;
}

.label {
  font-weight: bold;
  margin-right: 7px;
}

.value {
  margin-right: 5px;
}

.symbol {
  /**/
}

.colorizedFieldsGreen {
  color: green;
}

.colorizedFieldRed {
  color: red;
}
