.TargetPrice {
  padding: 0px 25px;
  overflow: auto;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.cancelButton {
  margin-left: auto;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// .container {
//   margin-top: 10px;
//   max-height: 500px;
//   overflow: auto;
// }

.targetPrices {
  display: flex;
  gap: 30px;
}

.directionGroup {
  flex: 0.5;
}

.targetPriceItem {
  display: flex;
}

.table {
  flex: 1;
  margin-top: 20px;
  
  th {
    font-size: 20px;
    text-align: left;
    padding: 10px 0;

    &:first-child {
      width: 75%;
    }
  }
}

.deleteBtn {
  cursor: pointer;
}
