.Message {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 15px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: rgba(0,0,0, 0.2);
  }
}

.messageTitle {
  font-weight: 800;
  margin-bottom: 5px;
}

.messageText {
  /**/
}

.read,
.unread {
  width: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

.read {
  background-color: green;
}

.unread {
  background-color: red;
}
