.LoginForm {
  /**/
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px 20px;
}

.button {
  max-width: 200px;
  height: 40px;
}


.disabledInput {
  background-color: #D3D3D3;	
}

.disabledLabel {
  opacity: 0.6;
}
